h1 {
    color: green;
    text-align: center;
  }
  body {
    background-color: lightblue;
  }
  .container {
    .item{background: #333;
      color: white;}
    display: grid;
    grid-template-columns: 500px 500px;
    margin: 2rem auto 2rem auto;
    width: 1000px;}
