h1 {
    color: blue;
    text-align: center;
  }


  body {
    background-color: lightblue;
    background: black;
  }


  .container { display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px 200px 200px 200px;
    margin: 2 rem auto 2rem auto;
    width: 1000px;}

    .item{
      padding: 3rem;
      background: blue;
      color: white;
      border: 1px solid green;
      font-weight: bold;
      font-size: 1.4rem;}

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
}


