h1 {
    color: green;
    text-align: center;
  }


  body {
    background-color: lightblue;
  }


  .container { display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px 200px 200px 200px;
    margin: 2 rem auto 2rem auto;
    width: 1000px;}

    .item{
      padding: 3rem;
      background: #333;
      color: white;
      border: 1px solid white;
      font-weight: bold;
      font-size: 1.4rem;}

      .grid {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    
    
    
    }


